﻿@model PersonalBlogManagementSystem.Areas.Admin.ViewModels.UsersIndex

@{
    ViewBag.Title = "Index";
}

<h1>Users</h1>


<div class="btn-toolbar">
    <a href="@Url.Action("new")" class="btn btn-primary btn-sm">
        <i class="glyphicon glyphicon-plus"></i> Create User
    </a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>@string.Join(", ", user.Roles.Select(role => role.Name))</td>
                <td>
                    <div class="btn-group">
                        <a href="@Url.Action("edit", new { user.Id })" class="btn btn-xs btn-primary">
                            <i class="glyphicon glyphicon-edit"></i>
                            Edit
                        </a>
                        <a href="@Url.Action("resetpassword", new { user.Id })" class="btn btn-xs btn-default">
                            <i class="glyphicon glyphicon-lock"></i>
                            Reset Password
                        </a>
                        <a href="@Url.Action("delete", new { user.Id })" class="btn btn-xs btn-danger"
                                data-post="Are you sure you want to delete @user.Username?">
                            <i class="glyphicon glyphicon-remove"></i>
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
