﻿@model PersonalBlogManagementSystem.Areas.Admin.ViewModels.UsersResetPassword

@{
    ViewBag.Title = "Reset Password";
}

<h2>Update Password for @Model.Username</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(f => f.Password)
        @Html.PasswordFor(f => f.Password, new { @class = "form-control" })
    </div>
    
    <input type="submit" value="Update Password" class="btn btn-primary" />
    <a href="@Url.Action("index")"> or cancel</a> 
}