﻿@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Personal Blog Admin</title>

    @Styles.Render("~/styles")
    @Styles.Render("~/admin/styles")
</head>
<body>
    <div class="site-header">
        <header class="container">
            <h1 class="page-header col-lg-8">
                <a href="@Url.RouteUrl("Home")">My Blog</a>
                <small>a simple blog powered by ASP.NET MVC</small>
            </h1>
            @if (!HttpContext.Current.User.Identity.IsAuthenticated)
            {
                <div class="pull-right">
                    <a href="@Url.RouteUrl("Login")" class="btn btn-lg btn-success btn-login">Login</a>
                </div>
            }
            else
            {
                <div class="pull-right">
                    <a href="@Url.RouteUrl("Logout")" class="btn btn-lg btn-danger btn-login">Logout</a>
                </div>
            }
        </header>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @RenderBody()
            </div>
            <div class="col-lg-4 sidebar">
                @Html.Action("Sidebar", "Layout")
            </div>
        </div>

        <footer>
            &copy; @DateTime.UtcNow.Year
        </footer>
    </div>
   

    @Scripts.Render("~/allscripts")
    @Scripts.Render("~/adminscripts")
    @RenderSection("Scripts", false)

    <form class="hidden" id="hdn-anti-forgery-form">
        @Html.AntiForgeryToken()
    </form>





    
</body>
</html>
