﻿@{
    ViewBag.Title = "Error (500)";
}

<h1>
    500 - This Site Explode
</h1>

<p>
    Something has gone terribly, terribly wrong. Why don't you 
    <a href="@Url.RouteUrl("Home")">go home</a>?</p>
<p>
    (If you were trying to go home, back away slowly...)
</p>