﻿
@{
    Layout = null;
}

@helper SelectedTabClass(string tabName)
{
    if (tabName == ViewContext.ParentActionViewContext.Controller.ViewBag.SelectedTab)
    {
        @: active
    }
}

<div class="panel panel-default">
    <div class="panel-heading">
        Admin Navigation
    </div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            <li class="@SelectedTabClass("adminhome")">
                <a href="@Url.RouteUrl("AdminHome")">Admin Home</a>
            </li>
            <li class="@SelectedTabClass("posts")">
                @Html.ActionLink("Posts", "Index", "Posts", new { area = "admin" }, new { })
            </li>
            <li class="@SelectedTabClass("users")">
                @Html.ActionLink("Users", "Index", "Users", new { area = "admin" }, new { })
            </li>
            <li>
                @Html.RouteLink("Back to Website", "Home")
            </li>
        </ul>
    </div>
</div> 