﻿@model PersonalBlogManagementSystem.Models.Post

<article class="post">
    <h1>
        <a href="@Url.RouteUrl("Post", new { Model.Id, Model.Slug })">@Model.Title</a>
    </h1>
    <div class="">
        @Html.Raw(Model.Content)
    </div>
    <footer>
        <ul class="pull-right list-unstyled tags">
            @foreach (var tag in Model.Tags)
            {
                <li>
                    <a class="badge" href="@Url.RouteUrl("Tag", new { tag.Id, tag.Slug })">@tag.Name</a>
                </li>
            }
        </ul>
        Posted: <abbr class="timeago" title="@Model.Created.ToString("o")"></abbr>
    </footer>
</article>
